@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');


.heading{
    font: normal 900 45px 'Anton';
    color: #101011;
    letter-spacing: 0.5em;
}

.input {
    letter-spacing: 0.3em;
    outline: none;
    color: #151515;
    width: 30%;
    height: 50px;
    display: block;
    margin-top: 30px;
    padding-left: 1%;
    border: 1px solid #dddddd;
}

.submit{
    font: normal 500 18px 'Old Standard TT' !important;
    outline: none;
    background-color: #494848;
    border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    top: 80%;
    border-radius: 2%;
    width: 30%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.home{
    font: normal 500 18px 'Old Standard TT' !important;
    outline: none;
    background-color: #ffc3bc;
    border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border-radius: 2%;
    width: auto;
    height: auto;
    text-decoration: none;
    padding: 10px;
}

.add-item-form{
    margin-top: 60px;
}

#nameError, #categoryError, #descrError, #priceError{
    font: normal normal 10px 'Old Standard TT';
    color: red;
    letter-spacing: 0.2em;
    margin-top: 1%;

}


#itemName, #itemCategory, #itemDescr, #itemPrice{
    background-color: transparent !important;
}

#headerAdd{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #dddddd;
}

#headerAdd ul {
    margin: 0;
    list-style: none;
}

#headerAdd ul li:first-child div{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    left: 0;
    color: #151515;
    width: 100%;
    height: 5vh;
}

#headerAdd ul li:nth-child(2){
    text-align: center;
    font: normal normal 27px 'Anton';
    color: #151515;
    letter-spacing: 0.4em;
    position: absolute;
    top: 12vh;
    left: 44%;
}
