@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');


.errors{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.2em;
    margin-top: 1em;
    color: red;
    width: 40%;
}