@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


.homepage-button{
    font: normal 500 18px 'Old Standard TT' !important;
    background-color: #494848;
    border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 2%;
    width: 30%;
    height: 50px;
    text-decoration: none;
    padding: 20px;
}

#headerConfirm{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #dddddd;
}

#headerConfirm ul {
    margin: 0;
    list-style: none;
}

#headerConfirm ul li:first-child div{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    left: 0;
    color: #151515;
    width: 100%;
    height: 5vh;
}

#headerConfirm ul li:nth-child(2){
    text-align: center;
    font: normal normal 27px 'Anton';
    color: #151515;
    letter-spacing: 0.4em;
    position: absolute;
    top: 12vh;
    left: 44%;
}


.footer{
    background-color: #101011;
    color: #ffffff;
    width: 100%;
    min-height: 50vh;
    margin-top: 30vh;
}

.footer ul{
    font: normal 200 12px 'Anton';
    letter-spacing: 0.4em;
    list-style: none;
    text-align: right;
    float: right;
    margin-right: 5vw;
}

.footer ul li{
    margin-bottom: 2vh;
}

.footerSlogan p:first-of-type{
    font: normal normal 14px 'Anton';
    letter-spacing: 0.4em;
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
}

.footerSlogan p:nth-of-type(2){
    font: normal 600 20px 'Anton';
    letter-spacing: 0.4em;
    width: 30%;
    text-align: left;
    margin-left: 5%;
    margin-top: 13vh;
    margin-bottom: 0;
}
h3{
    text-align: left;
    margin-top: 10vh;
    margin-left: 5%;
    font: normal 700 18px 'Roboto';
    letter-spacing: 0.3em;
}


h4{
    margin-top: 3vh;
    font: normal normal 14px 'Roboto';
    letter-spacing: 0.3em;
}


