@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');


p{
    margin: 3px 0 0;
}
.createAccountPage{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;

}
#headerCA{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #dddddd;
}

#headerCA ul{
    margin: 0;
    list-style: none;
}

#headerCA ul li:first-child div{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    left: 0;
    color: #151515;
    width: 100%;
    height: 5vh;
}

#headerCA ul li:nth-child(2){
    text-align: center;
    font: normal normal 27px 'Anton';
    color: #151515;
    letter-spacing: 0.4em;
    position: absolute;
    top: 12vh;
    left: 44%;
}


#accountForm{
    margin-top: 6vh;
    width: 100%;
    height: 80vh;
}

#title_account{
    font: normal bold 18px 'Old Standard TT';
    letter-spacing: 0.35em;
    margin-bottom: 0.5em;
    text-align: center;
    margin-top: 2.5%;
}

#firstname_account, #lastname_account, #email_account, #password_account, #confirmation_account, #signUp_account{
    letter-spacing: 0.3em;
    outline: none;
    position: absolute;
    color: #151515;
    left: 35%;
    width: 30%;
    height: 7%;
    border: 1px solid #a5a4a4;
    padding-left: 8px;
}

#firstname_account{
    top: 58%;
    width: 14% !important;
}

#lastname_account{
    top: 58%;
    width: 14% !important;
    left: 51% !important;
}

#email_account{
    top: 43%;
}

#password_account{
    top: 75%;
}

#confirmation_account{
    top: 90%;
}

#signUp_account{
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    border: 10px double #18ccf9;
    top: 105%;
    height: 12%;
    width: 6%;
    left: 47%;
    border-radius: 50%;
}

#firstNameError, #lastNameError, #userNameError, #passwordError, #passwordConfirmationError{
    font: normal normal 10px 'Old Standard TT';
    color: red;
    letter-spacing: 0.2em;
    position: absolute;
    left: 35%;
    width: 50%;

}

#firstNameError{
    width: 17% !important;
}
#lastNameError{
    width: 17% !important;
}

#firstNameError{
    top: 66%;
}

#lastNameError{
    top: 66%;
    left: 51%;
}

#userNameError{
    top: 51% !important;
}

#passwordError{
    top: 84% !important;
}

#passwordConfirmationError{
    top: 98%;
    width: 50 !important;
}

.footer{
    background-color: #101011;
    color: #ffffff;
    width: 100%;
    min-height: 50vh;
    margin-top: 30vh;
}

.footer ul{
    font: normal 200 12px 'Anton';
    letter-spacing: 0.4em;
    list-style: none;
    text-align: right;
    float: right;
    margin-right: 5vw;
}

.footer ul li{
    margin-bottom: 2vh;
}

.footerSlogan p:first-of-type{
    font: normal normal 14px 'Anton';
    letter-spacing: 0.4em;
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
}

.footerSlogan p:nth-of-type(2){
    font: normal 600 20px 'Anton';
    letter-spacing: 0.4em;
    width: 30%;
    text-align: left;
    margin-left: 5%;
    margin-top: 13vh;
    margin-bottom: 0;
}
h3{
    text-align: left;
    margin-top: 10vh;
    margin-left: 5%;
    font: normal 700 18px 'Roboto';
    letter-spacing: 0.3em;
}


h4{
    margin-top: 3vh;
    font: normal normal 14px 'Roboto';
    letter-spacing: 0.3em;
}



