@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

#headerHP{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #dddddd;
}

#headerHP ul {
    margin: 0;
    list-style: none;
}

#headerHP ul li:first-child div{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    left: 0;
    color: #151515;
    width: 100%;
    height: 5vh;
}

#headerHP ul li:nth-child(2){
    text-align: center;
    font: normal normal 27px 'Anton';
    color: #151515;
    letter-spacing: 0.4em;
    position: absolute;
    top: 12vh;
    left: 44%;
}

.homepage{
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%
}

.logout{
    font: normal normal 15px 'Old Standard TT';
    border-width: 1px;
    position: absolute;
    top: 30vh;
    margin-left: 10px;
    width: 10%;
    height: 28.5px;
    padding-top: 1vh;
}


.my-account{
    position: absolute;
    background-color: #494848;
    border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 2%;
    min-width: 15;
    height: 25.5px;
    text-decoration: none;
    text-align: center;
    font: normal normal 15px 'Old Standard TT';
    letter-spacing: 0.3em;
    top: 30vh;
    left: 25vh;
    padding: 1vh 2vh 0;
}

#headerHP{
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 37vh;
    border-bottom: 1px #dddddd solid;
}

#headerHP ul{
    list-style: none;
    color: #101011;
}

#headerHP ul li div:first-child{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    color: #151515;
    width: 100%;
    height: 5vh;
    margin-top: 0 !important;
}

#headerHP ul li:nth-child(2){
    font: normal 600 30px 'Anton';
    margin-top: 5vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6em;
}

#slideshow{
    height: 95vh;
    background-color: pink;
}

#moveLeft, #moveRight{
    background-color: transparent;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0.5);
    width: 8%;
    z-index: 10;
}

#moveLeft{
    top: 80vh !important;
    left: 3%;
}

#moveRight{
    top: 80vh !important;
    left: 87%;
}

#app{
    width: 100%;
    height: 100%;
}

#homedecor_hp{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 15px solid #ffffff;
    position: absolute;
    left: 0;
    width: 48vw;
    height: 92vh;
}

#clothing_hp{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 15px solid #ffffff;
    position: absolute;
    left: 50vw;
    width: 48vw;
    height: 92vh;
}

#electro_hp{
    background-image: url('./images/electro1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 15px solid #ffffff;
    position: absolute;
    left: 100vw;
    width: 48vw;
    height: 92vh;
}

#motors_hp{
    background-image: url('./images/motors1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 15px solid #ffffff;
    position: absolute;
    left: 150vw;
    width: 48vw;
    height: 92vh;
}


#printedwork_hp{
    background-image: url('./images/printwork1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 15px solid #ffffff;
    position: absolute;
    left: 200vw;
    width: 48vw;
    height: 92vh;
}


#about_hp{
    margin-top: 10vh;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
}

#about_hp ul{
    text-align: center;
    width: 70%;
    list-style: none;
    margin-top: 5vh;
    margin-left: 12.5%;
    letter-spacing: 0.3em;
}

#about_hp ul li:first-child{
    font: normal normal 16px 'Old Standard TT';
    padding-bottom: 0;
    color: #2aaf11;
}

#about_hp ul li:nth-child(2){
    font: normal normal 42px 'Dancing Script';
    margin-bottom: 8vh;
}

#about_hp ul li:nth-child(3){
    font: normal normal 20px 'Old Standard TT';
}


#services{
    display: inline-flex;
    width: 100%;
    height: 70vh;
    border: 1px solid #dddddd;
    margin-top: 90vh;
}

#section1{
    background-color: #303030;
    text-align: center;
    color: #f2f2f2;
    left: 0;
    width: 25%;
    height: 100%;
}

#section1 p{
    font: normal normal 20px 'Old Standard TT';
    padding-top: 60%;
    letter-spacing: 0.3em;
}

#servi1{
    width: 25%;
    height: 100%;
}

#servi2{
    width: 25%;
    height: 100%;
}

#servi3{
    width: 25%;
    height: 100%;
}

#servi1 ul, #servi2 ul, #servi3 ul{
    list-style: none;
    letter-spacing: 0.3em;
    color: #101011;
    text-align: center;
}

#services img{
    width: 10vw;
    height: 15vh;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

#servi1 ul li:nth-child(2), #servi2 ul li:nth-child(2), #servi3 ul li:nth-child(2){
    font: normal bold 18px 'Dancing Script';
    margin-bottom: 4vh;
}


#servi1 ul li:nth-child(3), #servi2 ul li:nth-child(3), #servi3 ul li:nth-child(3){
    font: normal normal 14px 'Old Standard TT';
}

#searchItem{
    position: absolute;
    top: 30vh;
    right: 10%;
    font: normal normal 15px 'Old Standard TT';
    letter-spacing: 0.3em;
    width: 20%;
    border: 1px solid #2aaf11;
}

.search-button{
    position: absolute;
    font: normal normal 15px 'Old Standard TT';
    letter-spacing: 0.3em;
    top: 30vh;
    right: 5%;
    background-color: #ffffff;
    color: #2aaf11;
    border: 1px solid #2aaf11;
}

.footer{
    background-color: #101011;
    color: #ffffff;
    width: 100%;
    min-height: 50vh;
    margin-top: 30vh;
}

.footer ul{
    font: normal 200 12px 'Anton';
    letter-spacing: 0.4em;
    list-style: none;
    text-align: right;
    float: right;
    margin-right: 5vw;
}

.footer ul li{
    margin-bottom: 2vh;
}

.footerSlogan p:first-of-type{
    font: normal normal 14px 'Anton';
    letter-spacing: 0.4em;
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
}

.footerSlogan p:nth-of-type(2){
    font: normal 600 20px 'Anton';
    letter-spacing: 0.4em;
    width: 30%;
    text-align: left;
    margin-left: 5%;
    margin-top: 13vh;
    margin-bottom: 0;
}
h3{
    text-align: left;
    margin-top: 10vh;
    margin-left: 5%;
    font: normal 700 18px 'Roboto';
    letter-spacing: 0.3em;
}


h4{
    margin-top: 3vh;
    font: normal normal 14px 'Roboto';
    letter-spacing: 0.3em;
}


