@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

#headerIS{
    width: 100%;
    height: 35vh;
    border-bottom: 1px solid #dddddd;
}

#headerIS ul {
    margin: 0;
    list-style: none;
}

#headerIS ul li:first-child div{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    left: 0;
    color: #151515;
    width: 100%;
    height: 5vh;
}

#headerIS ul li:nth-child(2){
    text-align: center;
    font: normal normal 27px 'Anton';
    text-transform: uppercase;
    color: #151515;
    letter-spacing: 0.4em;
    position: absolute;
    top: 12vh;
    left: 44%;
}


#my-accountIS{
    position: absolute;
    background-color: #494848;
    border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 2%;
    min-width: 15;
    height: 25.5px;
    text-decoration: none;
    text-align: center;
    font: normal normal 15px 'Old Standard TT';
    letter-spacing: 0.3em;
    top: 28vh;
    left: 25vh;
    padding: 1vh 2vh 0;
}


#logoutIS{
    font: normal normal 15px 'Old Standard TT';
    border-width: 1px;
    position: absolute;
    top: 28vh;
    left: -4vw;   
    width: 10%;
    height: 28.5px;
    padding-top: 1vh;
}

#itemsInCategory{
    letter-spacing: 0.3em;
    width: 90%;
    min-height: 25vh;
    margin-left: 5%;
    margin-top: 10vh;
}

.nameItemsToBuy, .priceItemsToBuy, .descrItemsToBuy{
    font: normal 500 16px 'Old Standard TT';
    color: #151515;
    letter-spacing: 0.3em;
    text-align: left;
    padding-left: 5vw;
}

.nameItemsToBuy span , .priceItemsToBuy span, .descrItemsToBuy span{
    font: normal 700 16px 'Old Standard TT';

}

.buyThisItem{
    background-color: rgba(73, 72, 72, 0.7);
    font: normal normal 15px 'Old Standard TT';
    text-decoration: none;
    letter-spacing: 0.3em;
    padding: 1vh 2vh 1vh;
    color: #ffffff;
    margin-bottom: 7vh;
    float: right;
    margin-top: -5vh;

}
