@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');


.loginPage{
    background-color: #ffffff;
    background-image: url('./images/backgr1.png'), url('./images/backgr2.png');
    background-position: left top, right bottom;
    background-size: 45% 50%, 50% 48%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

}

.signup{
    position: absolute;
    top: 20%;
    left: 65%;
    font: normal 500 18px 'Old Standard TT' !important;
    background-color: darkgray;
    border: none;
    color: #ffffff !important;
    width: 20%;
    height: auto;
    letter-spacing: 0.3em;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    opacity: 0;
    animation: fade-in forwards 1s linear;
    animation-delay: 3s;
}

@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}

#photo1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.login_overlay{
    background-color: rgba(15, 21, 88, 0.0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#email_login, #password_login, #login{
    letter-spacing: 0.3em;
    padding-left: 5px;
    outline: none;
    border: 1px solid #a5a4a4;
    position: absolute;
    color: #151515;
    top: 110vh;
    width: 20%;
    height: 7%;
}

#email_login{
    left: 15%;
}

#password_login{
    left: 40%;
}

#login{
    font: normal 500 18px 'Old Standard TT' !important;
    background-color: #FFC3BC;
    border: none;
    color: #ffffff !important;
    left: 65%;
    border-radius: 2%;
}
#title_login{
    font: normal 900 60px 'Anton';
    color: #101011;
    letter-spacing: 0.5em;
    position: absolute;
    top: 17.5%;
    left: 20%;
}

#letter1, #letter2, #letter3, #letter4, #letter5, #letter6{
    opacity: 0;
}

#slogan_login{
    font: normal 500 20px 'Anton';
    opacity: 0;
    letter-spacing: 0.35em;
    color: #101011;
    position: absolute;
    top: 42.5%;
    left: 38%;

}

#line1_login, #line2_login, #line3_login, #line4_login{
    background-color: #101011;
    position: absolute;
}

#line1_login{
    bottom: 7%;
    left: 2.5%;
    width: 2px;
    height: 0;
}

#line2_login{
    top: 2%;
    left: 7%;
    width: 0;
    height: 2px;
}

#line3_login{
    top: 5%;
    right: 2.5%;
    width: 2px;
    height: 0;
}

#line4_login{
    bottom: 3%;
    right: 5%;
    width: 0;
    height: 2px;
}

#usernameError, #passwordError{
    font: normal normal 11px 'Old Standard TT';
    color: red;
    letter-spacing: 0.2em;
    position: absolute;
    top: 88vh;
    left: 15%;
}

#passwordError{
    top: 88vh !important;
    left: 40% !important;
}