@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


#profilePage{
    background-color: #ffffff;
    width: 100%;
    min-height: 120vh;
}

.homepage-button{
    font: normal 500 18px 'Old Standard TT' !important;
    background-color: #ffc3bc;
    border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 2%;
    width: auto;
    height: auto;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 5%;
}

#headerPro{
    width: 100%;
    height: 25vh;
    border-bottom: 1px solid #dddddd;
}

#headerPro ul {
    margin: 0;
    list-style: none;
}

#headerPro ul li:first-child div{
    font: normal normal 11px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 2vh;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: #ffc3bc;
    left: 0;
    color: #151515;
    width: 100%;
    height: 5vh;
}

#headerPro ul li:nth-child(2){
    text-align: center;
    font: normal normal 27px 'Anton';
    color: #151515;
    letter-spacing: 0.4em;
    position: absolute;
    top: 12vh;
    left: 44%;
}

#greeting{
    padding-top: 5vh;
    font: normal normal 18px 'Anton';
    text-align: center;
    color: #151515;
    letter-spacing: 0.3em;
}

#persoInfo ul, #addressInfo ul{
    font: normal normal 14px 'Old Standard TT';
    list-style: none;
    position: absolute;
    color: #151515;
    letter-spacing: 0.3em;
    left: 5vw;
    top: 45vh;
    width: 32.5%;
}

#addressInfo ul{
    left: 55vw !important;
} 

#persoInfo ul li:nth-child(2) div, #addressInfo ul li:nth-child(2) div{
    width: 80%;
    height: 1px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1.5em;
}

#persoInfo ul li:nth-child(4){
    padding-top: 0.5em;
}

#persoInfo ul li:first-child, #addressInfo ul li:first-child{
    font: normal bold 16px 'Old Standard TT';
    letter-spacing: 0.35em;
    margin-bottom: 0.5em;
}

#addressInfo ul li:nth-child(4) input{
    font: normal normal 15px 'Anton';
    letter-spacing: 0.2em;
    border:none;
    outline: none;
    background-color: #494848;
    color: #ffffff;
    position: absolute;
    right: 20vw;
    top: 40vh;
    width: 10vw;
    height: 5vh;
}

#getInfo{
    width: 40vw;
    height: 55vh;
}

#addressChange{
    opacity: 0;
    height: 60vh;
}

#addressChange input{
    float: right;
    padding-left: 2.5%;
}

#addressChange input:last-of-type{
    float: left;
    font: normal normal 15px 'Anton';
    letter-spacing: 0.2em;
    border:none;
    outline: none;
    background-color: #494848;
    color: #ffffff;
    margin-top: 5vh;
    margin-left: 18% !important;
    width: 15vw;
    height: 7vh;
}

#itemsBought ul, #itemsSold ul, #buyItem ul{
    list-style: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    min-height: 30vh;
}


#buyItem div form{
    margin-top: -12%;
    width: 40%;
    margin-left: 34.5%;
}

#buyItem div form input{
    font: normal normal 16px 'Old Standard TT';
    width: 90%;
    margin-left: 5%;
    height: 5vh;
    margin-bottom: 5vh;
    letter-spacing: 0.3em;
    outline: none;
    color: #151515;
    display: block;
    padding-left: 1%;
    border: 1px solid #dddddd;
}


#itemsBought ul li:first-child, #itemsSold ul li:first-child, #buyItem ul li:first-child{
    font: normal bold 16px 'Old Standard TT';
    text-align: center;
    letter-spacing: 0.35em;
    margin-bottom: 0.5em;
}

#itemsBought ul li:nth-child(2) div, #itemsSold ul li:nth-child(2) div, #buyItem ul li:nth-child(2){
    width: 80%;
    height: 1px;
    border-bottom: 1px solid #dddddd;
    margin-left: 10%;
    margin-bottom: 1.5em;
}

#itemsSold ul{
    margin-top: 44% !important;
}

#noItemBought, #noItemSold{
    font: normal normal 12px 'Old Standard TT';
    letter-spacing: 0.3em;
    padding-top: 5vh;
    text-align: center;
}

#allSold p, #allBought p{
    font: normal 500 14px 'Old Standard TT';
    letter-spacing: 0.3em;
    margin-bottom: 1em;
}

#linkToAddItem{
    font: normal normal 18px 'Old Standard TT';
    letter-spacing: 0.3em;
    text-decoration: none;
    padding: 2vh;
    background-color: #494848;
    color: #ffffff !important;
    margin-top: 5vh;
    margin-left: 46% !important;
    width: 15% !important;
    height: 7vh !important;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    
}

#nameError, #categoryError, #descrError, #priceError{
    font: normal normal 10px 'Old Standard TT';
    color: red;
    letter-spacing: 0.2em;
    margin-top: 1%;

}

#add-item-form{
    opacity: 0;
}


#itemName{
    background-color: red;
}

#addItemButton{
    float: left;
    margin-left: 42.5%;
    width: 20%;
    color: #ffffff;
    background-color: #494848;
    border: none;
    outline: none;
    height: 7vh;
}

#addItemComponent{
    background-color: pink;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

.footer{
    background-color: #101011;
    color: #ffffff;
    width: 100%;
    min-height: 50vh;
    margin-top: 30vh;
}

.footer ul{
    font: normal 200 12px 'Anton';
    letter-spacing: 0.4em;
    list-style: none;
    text-align: right;
    float: right;
    margin-right: 5vw;
}

.footer ul li{
    margin-bottom: 2vh;
}

.footerSlogan p:first-of-type{
    font: normal normal 14px 'Anton';
    letter-spacing: 0.4em;
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
}

.footerSlogan p:nth-of-type(2){
    font: normal 600 20px 'Anton';
    letter-spacing: 0.4em;
    width: 30%;
    text-align: left;
    margin-left: 5%;
    margin-top: 13vh;
    margin-bottom: 0;
}
h3{
    text-align: left;
    margin-top: 10vh;
    margin-left: 5%;
    font: normal 700 18px 'Roboto';
    letter-spacing: 0.3em;
}


h4{
    margin-top: 3vh;
    font: normal normal 14px 'Roboto';
    letter-spacing: 0.3em;
}


